<div class="my-3" ngbAccordion #accordion="ngbAccordion">
    <div class="card border border-1 rounded-5" ngbAccordionItem="first">
        <div class="card-body">
            <button ngbAccordionButton class="p-0 shadow-none bg-transparent">
                <span class="fw-bold">{{views}} views {{uploadDate}}</span>
            </button>
            <div ngbAccordionCollapse>
                <div ngbAccordionBody class="px-0">
                    <ng-template>
                        <p class="fw-bold">#hashtag1 #hashtag2 #hashtag3 #hashtag4</p>
                        <span>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed commodo et urna eget tincidunt.
                            Cras ut urna
                            sed urna
                            feugiat ultrices. Sed accumsan nulla nisi, vel efficitur quam sodales nec. Nulla eget
                            ullamcorper orci.
                            Class aptent
                            taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque
                            feugiat sodales
                            felis, vitae
                            molestie libero mattis sed. Vivamus ornare orci et congue molestie. Phasellus magna est,
                            porta
                            sit amet
                            rutrum in,
                            convallis ut sem. Vestibulum cursus nibh nec leo euismod, a fringilla tortor auctor.
                            Praesent ut
                            venenatis
                            ante. Nullam
                            et odio et magna rutrum cursus id eget lorem. Phasellus mollis malesuada mi, ut mattis purus
                            hendrerit a.

                            Donec accumsan erat nec pharetra ullamcorper. Nulla vel leo efficitur purus pretium feugiat
                            ac
                            id justo. Sed
                            scelerisque
                            nunc eu libero varius interdum. Class aptent taciti sociosqu ad litora torquent per conubia
                            nostra, per
                            inceptos
                            himenaeos. Aenean sodales, sem vel blandit semper, ante lectus accumsan justo, vitae
                            dignissim
                            metus velit
                            dignissim
                            turpis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
                            curae;
                            Phasellus eu
                            urna a
                            tellus varius iaculis vitae sed massa. Praesent accumsan justo leo, a posuere dolor accumsan
                            sit
                            amet.
                            Maecenas pulvinar
                            imperdiet elit. Etiam ac aliquet justo, lacinia aliquet orci. Vestibulum quis finibus odio.
                            Fusce eu urna
                            tortor. Cras
                            id nisi et metus interdum lacinia eget laoreet lacus. Aenean semper ultrices tortor, sed
                            cursus
                            nunc
                            dignissim non.
                            Nulla non lorem quis odio egestas euismod.
                        </span>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>