<div class="d-flex align-items-center">
    <ul class="d-inline-flex list-unstyled flex-grow-1 m-0">
        <li class="me-3">
            <h2 class="m-0">Channel name {{videoId}}</h2>
        </li>
        <li class="me-3">
            <button class="btn btn-outline-dark d-flex px-3" aria-label="Subscribe" title="Subscribe">
                Subscribe
            </button>
        </li>
    </ul>
    <ul class="d-inline-flex list-unstyled justify-content-end m-0">
        <li class="me-3">
            <div class="btn-group" role="group" aria-label="Like or dislike video">
                <button class="btn btn-outline-success d-flex px-3 rounded-start-5" aria-label="Like the video"
                    title="Like the video">
                    <ng-icon name="bootstrapHandThumbsUp" class="me-2 fs-4"></ng-icon>
                    23K
                </button>
                <button class="btn btn-outline-danger d-flex px-3 rounded-end-5" aria-label="Dislike the video"
                    title="Dislike the video">
                    <ng-icon name="bootstrapHandThumbsDown" class="me-2 fs-4"></ng-icon>
                    23K
                </button>
            </div>
        </li>
        <li class="me-3">
            <button class="btn btn-outline-info d-flex px-3 rounded-5" aria-label="Share" title="Share">
                <ng-icon name="bootstrapShare" class="me-2 fs-4"></ng-icon>
                Share
            </button>
        </li>
        <li>
            <button class="btn btn-outline-dark d-flex px-3 rounded-5" aria-label="Share" title="Share">
                <ng-icon name="bootstrapBookmarkPlus" class="me-2 fs-4"></ng-icon>
                Save
            </button>
        </li>
    </ul>
</div>
<div class="card border mt-3 border-1 rounded-5">
    <div class="card-body">
        <h5>10k Views 1 week ago</h5>
        <p>#hashtag1 #hashtag2 #hashtag3 #hashtag4</p>
        <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed commodo et urna eget tincidunt. Cras ut urna
            sed urna
            feugiat ultrices. Sed accumsan nulla nisi, vel efficitur quam sodales nec. Nulla eget ullamcorper orci.
            Class aptent
            taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque feugiat sodales
            felis, vitae
            molestie libero mattis sed. Vivamus ornare orci et congue molestie. Phasellus magna est, porta sit amet
            rutrum in,
            convallis ut sem. Vestibulum cursus nibh nec leo euismod, a fringilla tortor auctor. Praesent ut venenatis
            ante. Nullam
            et odio et magna rutrum cursus id eget lorem. Phasellus mollis malesuada mi, ut mattis purus hendrerit a.

            Donec accumsan erat nec pharetra ullamcorper. Nulla vel leo efficitur purus pretium feugiat ac id justo. Sed
            scelerisque
            nunc eu libero varius interdum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
            inceptos
            himenaeos. Aenean sodales, sem vel blandit semper, ante lectus accumsan justo, vitae dignissim metus velit
            dignissim
            turpis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Phasellus eu
            urna a
            tellus varius iaculis vitae sed massa. Praesent accumsan justo leo, a posuere dolor accumsan sit amet.
            Maecenas pulvinar
            imperdiet elit. Etiam ac aliquet justo, lacinia aliquet orci. Vestibulum quis finibus odio. Fusce eu urna
            tortor. Cras
            id nisi et metus interdum lacinia eget laoreet lacus. Aenean semper ultrices tortor, sed cursus nunc
            dignissim non.
            Nulla non lorem quis odio egestas euismod.
        </p>
    </div>
</div>