<div class="d-flex">
    <div class="d-inline-flex align-items-center flex-grow-1 m-0">
        <img src="funky.jpg" alt="Cat" class="rounded-circle">
        <div class="d-block mx-3">
            <h5 class="my-0">Channel name {{videoId}}</h5>
            <small>{{amountSubscribers}}{{unitMeasurement}} subscribers</small>
        </div>
        <button class="btn btn-outline-dark d-flex px-3" aria-label="Subscribe" title="Subscribe">
            Subscribe
        </button>
    </div>
    <ul class="d-inline-flex list-unstyled justify-content-end m-0">
        <li class="me-3">
            <div class="btn-group" role="group" aria-label="Like or dislike video">
                <button class="btn btn-outline-success d-flex px-3 rounded-start-5" aria-label="Like the video"
                    title="Like the video">
                    <ng-icon name="bootstrapHandThumbsUp" class="me-2 fs-4"></ng-icon>
                    23K
                </button>
                <button class="btn btn-outline-danger d-flex px-3 rounded-end-5" aria-label="Dislike the video"
                    title="Dislike the video">
                    <ng-icon name="bootstrapHandThumbsDown" class="me-2 fs-4"></ng-icon>
                    0
                </button>
            </div>
        </li>
        <li class="me-3">
            <button class="btn btn-outline-info d-flex px-3 rounded-5" aria-label="Share" title="Share">
                <ng-icon name="bootstrapShare" class="me-2 fs-4"></ng-icon>
                Share
            </button>
        </li>
        <li>
            <button class="btn btn-outline-dark d-flex px-3 rounded-5" aria-label="Share" title="Share">
                <ng-icon name="bootstrapBookmarkPlus" class="me-2 fs-4"></ng-icon>
                Save
            </button>
        </li>
    </ul>
</div>
<app-description></app-description>