<header class="p-3 text-bg-dark">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-4 d-flex align-items-center">
                <button class="btn p-0 border-0 d-flex align-self-center" aria-label="Toggle Sidebar">
                    <ng-icon name="bootstrapList" color="white" class="fs-4 mx-3"></ng-icon>
                </button>
                <a class="navbar-brand d-flex align-items-center ms-2 fs-4 text-white text-decoration-none" href="#">
                    <ng-icon name="bootstrapRocketTakeoff" class="me-2"></ng-icon>
                    MARS
                </a>
            </div>
            <div class="col-md-4">
                <div class="d-flex align-items-center">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-light" type="button">
                            <ng-icon name="bootstrapSearch"></ng-icon>
                        </button>
                    </div>
                    <button class="btn p-0 border-0 d-flex align-self-center ms-3" aria-label="Voice Search">
                        <ng-icon name="bootstrapMic" color="white" class="fs-4"></ng-icon>
                    </button>
                </div>
            </div>
            <div class="col-md-4 d-flex align-items-center justify-content-end">
                <button class="btn p-0 border-0 d-flex align-self-center">
                    <ng-icon name="bootstrapPlusLg" color="white" class="fs-4 mx-2"></ng-icon>
                </button>
                <button class="btn p-0 border-0 d-flex align-self-center">
                    <ng-icon name="bootstrapBell" color="white" class="fs-4 mx-2"></ng-icon>
                </button>
                <button class="btn p-0 border-0 d-flex align-self-center">
                    <ng-icon name="bootstrapPerson" color="white" class="fs-4 mx-2"></ng-icon>
                </button>
            </div>
        </div>
    </div>
</header>