<nav class="navbar navbar-expand-lg bg-dark border-bottom border-body fixed-top" data-bs-theme="dark">
    <div class="container-fluid">
        <button class="btn">
            <ng-icon name="bootstrapLayoutSidebarInset" color="white"></ng-icon>
        </button>
        <a class="navbar-brand ms-4" href="#">
            <ng-icon name="bootstrapRocketTakeoff"></ng-icon>
            MARS
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="row">
                <div class="col-8">
                    <form class="d-flex ms-auto me-auto" role="search">
                        <div class="input-group">
                            <input type="text" class="form-control rounded-start" placeholder="Search"
                                aria-label="Search" aria-describedby="Search">
                            <button class="btn btn-outline-secondary rounded-end" type="button">
                                <ng-icon name="bootstrapSearch" color="white"></ng-icon>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="col-4">
                    <ng-icon name="bootstrapMic" color="white"></ng-icon>
                    <ng-icon name="bootstrapPlusLg" color="white"></ng-icon>
                    <ng-icon name="bootstrapBell" color="white"></ng-icon>
                    <ng-icon name="bootstrapPerson" color="white"></ng-icon>
                </div>
            </div>
        </div>
    </div>
</nav>